<p>Hello, @User.Identity.Name!</p>
<table border="1">
    <tr>
        <th>
            Name
        </th>
        <th>
            Value
        </th>
    </tr>

    @foreach (KeyValuePair<string, string> header in ViewBag.Headers)
    {
        <tr>
            <td>
                @Html.DisplayFor(_ => header.Key)
            </td>
            <td>
                @Html.DisplayFor(_ => header.Value)
            </td>
        </tr>
    }
</table>